.container {
    text-align: center;
    margin-top: 25px;
}

table {
    margin: auto;
}

input {
    font-size: 30px;
    height: 35px;
    border: solid 3.5px #d26868;
    border-radius: 12px;
}

button {
    font-size: 35px;
    background: aqua;
    width: 91.4px;
    height: 60px;
    border-radius: 20px;
}

.calculator {
    display: inline-block;
    background: #15123a;
    padding: 20px;
    border-radius: 15px;
    border: solid #cb74d6 3px;
}